extends layout

block content
  h1= title
  p Welcome to #{title}
  li= title
  br
  br
  // #wufoo-s7x2p7
  // //   | Fill out my
  // //   a(href='http://scopevale.wufoo.com/forms/s7x2p7') online form
  // //   | .
  // script(type='text/javascript')
  //   var s7x2p7;(function(d, t) {
  //   var s = d.createElement(t), options = {
  //   'userName':'scopevale',
  //   'formHash':'s7x2p7',
  //   'autoResize':true,
  //   'height':'739',
  //   'async':true,
  //   'header':'show'};
  //   s.src = ('https:' == d.location.protocol ? 'https://' : 'http://') + 'wufoo.com/scripts/embed/form.js';
  //   s.onload = s.onreadystatechange = function() {
  //   var rs = this.readyState; if (rs) if (rs != 'complete') if (rs != 'loaded') return;
  //   try { s7x2p7 = new WufooForm();s7x2p7.initialize(options);s7x2p7.display(); } catch (e) {}};
  //   var scr = d.getElementsByTagName(t)[0], par = scr.parentNode; par.insertBefore(s, scr);
  //   })(document, 'script');
  #wufoo-m7x4z5
    // | Fill out my
    //   a(href='http://mickstravel.wufoo.com/forms/m7x4z5') online form
    //   | .
    script(type='text/javascript')
      var m7x4z5;(function(d, t) {
      var s = d.createElement(t), options = {
      'userName':'mickstravel',
      'formHash':'m7x4z5',
      'autoResize':true,
      'height':'985',
      'async':true,
      'header':'show'};
      s.src = ('https:' == d.location.protocol ? 'https://' : 'http://') + 'wufoo.com/scripts/embed/form.js';
      s.onload = s.onreadystatechange = function() {
      var rs = this.readyState; if (rs) if (rs != 'complete') if (rs != 'loaded') return;
      try { m7x4z5 = new WufooForm();m7x4z5.initialize(options);m7x4z5.display(); } catch (e) {}};
      var scr = d.getElementsByTagName(t)[0], par = scr.parentNode; par.insertBefore(s, scr);
      })(document, 'script');
