extends layout

block content
    #content.grid-100
        include jade_includes/left-nav
        #mainContent.grid-70
            #wufoo-m7x4z5
            // | Fill out my
            //   a(href='http://mickstravel.wufoo.com/forms/m7x4z5') online form
            //   | .
            script(type='text/javascript')
              var m7x4z5;(function(d, t) {
              var s = d.createElement(t), options = {
              'userName':'mickstravel',
              'formHash':'m7x4z5',
              'autoResize':true,
              'height':'985',
              'async':true,
              'header':'show'};
              s.src = ('https:' == d.location.protocol ? 'https://' : 'http://') + 'wufoo.com/scripts/embed/form.js';
              s.onload = s.onreadystatechange = function() {
              var rs = this.readyState; if (rs) if (rs != 'complete') if (rs != 'loaded') return;
              try { m7x4z5 = new WufooForm();m7x4z5.initialize(options);m7x4z5.display(); } catch (e) {}};
              var scr = d.getElementsByTagName(t)[0], par = scr.parentNode; par.insertBefore(s, scr);
              })(document, 'script');
        include jade_includes/right-sidebar
    #footer_spacer.grid-100
        &nbsp;
    br
    br
    br
    br
    
    
    